@charset "UTF-8";
a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block; }
  a:hover {
    text-decoration: none;
    color: #fff; }

html, body, .h100 {
  height: 100%; }

.none {
  display: none; }

.questionnaire {
  background: url(../img/bg.jpg) top center no-repeat;
  background-size: cover;
  font-family: 微软雅黑;
  display: flex;
  align-items: center; }
  .questionnaire .content {
    max-width: 500px;
    margin: 0 auto; }
    .questionnaire .content .make {
      color: #fff;
      text-align: center;
      width: 100%; }
    .questionnaire .content .con-p {
      background: rgba(255, 255, 255, 0.8);
      padding: 1rem;
      margin: 1rem 0;
      border-radius: .5rem;
      text-indent: 2em;
      font-weight: bolder; }
    .questionnaire .content .con {
      padding: 0 0 3rem 0; }
      .questionnaire .content .con .q3.content .input-group {
        background: #fff;
        margin: 0 0 1rem; }
      .questionnaire .content .con .q3 {
        padding: 2rem;
        border-radius: .5rem;
        background: rgba(72, 172, 226, 0.5); }
        .questionnaire .content .con .q3 .con-pic {
          background: white;
          padding: 1rem;
          margin: 0 0 1rem 0;
          border-radius: .5rem;
          text-indent: 2em;
          height: 10rem;
          font-weight: bolder; }
        .questionnaire .content .con .q3 .fill, .questionnaire .content .con .q3 .pic, .questionnaire .content .con .q3 .video {
          display: none; }
        .questionnaire .content .con .q3 .fill.show {
          display: block; }
        .questionnaire .content .con .q3 .single {
          display: none; }
        .questionnaire .content .con .q3 .form-control {
          background: #fff;
          text-align: center;
          margin: 0 0 2rem; }
          .questionnaire .content .con .q3 .form-control option {
            text-align: center; }
        .questionnaire .content .con .q3 .ui-btn {
          padding: 0;
          border: none; }
          .questionnaire .content .con .q3 .ui-btn span {
            color: #50c0fb; }
        .questionnaire .content .con .q3 .form-group .input-group {
          background: #fff; }
          .questionnaire .content .con .q3 .form-group .input-group.title {
            background: 0 0; }
            .questionnaire .content .con .q3 .form-group .input-group.title .input-group-addon {
              background: 0 0; }
            .questionnaire .content .con .q3 .form-group .input-group.title .form-control {
              margin: 0;
              background: #fff;
              border-radius: .5rem; }
          .questionnaire .content .con .q3 .form-group .input-group .form-control {
            margin: 0; }
      .questionnaire .content .con .q4 {
        margin: 0 0 10rem 0; }
        .questionnaire .content .con .q4 input {
          margin: .5rem 0 1rem 0; }
        .questionnaire .content .con .q4 .file {
          display: none; }
        .questionnaire .content .con .q4 .txt {
          display: none; }
          .questionnaire .content .con .q4 .txt .input-group {
            background: 0 0; }
            .questionnaire .content .con .q4 .txt .input-group .input-group-addon {
              background: 0 0;
              color: #fff; }
            .questionnaire .content .con .q4 .txt .input-group .form-control {
              background: #fff;
              border-radius: .5rem; }
      .questionnaire .content .con .btn {
        background: #50c0fb;
        color: #fff;
        text-align: center;
        width: 13rem;
        border: none;
        font-weight: 400;
        font-family: 微软雅黑;
        margin: 1rem 0;
        border-radius: .5rem; }
        .questionnaire .content .con .btn:hover {
          box-shadow: none;
          text-shadow: none;
          border: none; }
        .questionnaire .content .con .btn.add {
          background: #fff;
          color: #50c0fb;
          padding: 0;
          margin: 1rem 0 2rem;
          border: none;
          text-align: left;
          font-size: 1.6rem;
          border-radius: .5rem; }
          .questionnaire .content .con .btn.add i {
            font-size: 1.8rem;
            background: #50c0fb;
            color: #fff;
            padding: .5rem;
            border-radius: .5rem;
            margin: 0 1rem 0 0; }
        .questionnaire .content .con .btn.white {
          background: #fff;
          color: #50c0fb; }
      .questionnaire .content .con .con-p {
        height: 5rem; }
      .questionnaire .content .con .border1 {
        border-bottom: 1px dashed #fff;
        margin: 1rem 0; }
      .questionnaire .content .con .form-group {
        text-align: center;
        position: relative; }
        .questionnaire .content .con .form-group .close {
          position: absolute;
          right: 1%;
          top: 1%;
          color: #fff;
          opacity: 1; }
        .questionnaire .content .con .form-group .input-group {
          background: rgba(255, 255, 255, 0.5);
          border-radius: .5rem; }
          .questionnaire .content .con .form-group .input-group .input-group-addon {
            background: #50c0fb;
            color: #fff;
            border-radius: .5rem;
            font-size: 1.6rem;
            letter-spacing: .2rem;
            text-shadow: none;
            border: none; }
          .questionnaire .content .con .form-group .input-group .form-control {
            background: 0 0;
            box-shadow: none;
            color: #000;
            font-weight: 700;
            font-size: 1.6rem;
            border: none;
            text-shadow: none; }
          .questionnaire .content .con .form-group .input-group .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
            border: none;
            text-shadow: none; }
      .questionnaire .content .con .q1 .input-group .form-control {
        height: 4rem; }
      .questionnaire .content .con .q1 .input-group .input-group-addon {
        height: 4rem; }
      .questionnaire .content .con .q2 input {
        height: 5rem; }
    .questionnaire .content .con-top .title {
      color: #50c0fb;
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
      padding: 5% 0;
      border-bottom: 1px solid #fff;
      text-shadow: none; }
    .questionnaire .content .con-top .title.h10 {
      font-size: 8rem; }
    .questionnaire .content .con-top .logo {
      height: 12rem;
      margin: 2rem 0 .5rem;
      background: url(../img/logo.png) center no-repeat;
      background-size: contain; }

div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 0 1rem 0; }

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */ }

.cs-select.cs-active {
  height: 144px; }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e8e8e8; }

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em; }

.cs-select > span::after, .cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cs-select > span::after {
  content: '\25BE';
  right: 1em; }

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em; }

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 1em; }

.cs-select ul li:hover {
  background: #50c0fb;
  color: #fff; }

.cs-select ul li.cs-focus span {
  background-color: #ddd; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }
